// Variables
$colorBlue: #00011f;
$colorRed: #FF3100;
$background: #f3f3f3;
$colorYellow: #FFCC00;
$colorGreen: #28a745;
$shadow-light: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.16);
$shadow-dark: rgba(0, 0, 0, 0.23);